<div data-section-type="header-section">
  <header role="banner" class="site-header">
    <div class="wrapper">
      <div class="site_logo">
        <a href="/">
          {{ 'logo-black.png' | asset_url | img_tag }}
        </a>
      </div>

        {% section 'site-contact' %}

        <div class="search-bar">
          <form action="/search" method="get" role="search">
            <label for="Search" class="label-hidden">
              {{ 'general.search.placeholder' | t }}
            </label>
            <input type="search"
                   name="q"
                   id="Search"
                   value="{{ search.terms | escape }}"
                   placeholder="{{ 'general.search.placeholder' | t }}">
            <button type="submit" class="btn">
              {% include 'icon-search' %}
              <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
            </button>
          </form>
        </div>
        <div class="cart-account-end">
          <a href="/cart">
            {% include 'icon-cart' %}
            <span class="cart-count">{{ cart.item_count }}</span>
          </a>
        </div>
    </div>
  </header>

  {% include 'site-menu' %}
</div>

{% section 'site-info' %}
