<div class="page-title-container" style="background-image:url({{ collection.image.src | collection_img_url: 'original' }});">
  <div class="wrapper">
    <div class="breadcrumbs">
      {% include 'breadcrumbs' %}
    </div>
    <h1>
      {% if current_tags %}
        {% assign title_tags = current_tags | join: ', ' %}
        {{ title_tags | replace: '-', ' '}}

        {% else %}

        {{ collection.title }}

      {% endif %}
    </h1>
    {% if collection.description != blank %}
      <div class="rte">
        {{ collection.description }}
      </div>
    {% endif %}
  </div>
</div>
<div class="wrapper page_wrap">
  <div class="grid">
    <div class="grid__item one-quarter">
      <div class="collection_sidebar">
        {% include 'collection-filter' %}

        {% include 'sort-by-filter' %}
      </div>
    </div>
    <div class="grid__item three-quarters">
    {% paginate collection.products by 12 %}

      <div>
        {% for product in collection.products %}
          <div class="grid__item one-quarter product-card">
            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              <div class="on-sale">
                {{ 'products.product.on_sale' | t }}
              </div>
            {% endif %}
            {% if product.featured_image != blank %}
              {{ product.featured_image.src | img_url: '480x480' | img_tag: product.featured_image.alt }}
            {% endif %}

            <p class="title">
              {{ product.title }}
            </p>
            <p>
              {% if product.compare_at_price > product.price %}

                {% if product.price_varies %}
                  {%- assign sale_price = product.price | money -%}
                  {{ product.price | money }}
                {% endif %}

              {% else %}

                {% if product.price_varies %}
                  {%- assign price = product.price | money -%}
                {% else %}
                  {{ product.price | money }}
                {% endif %}

              {% endif %}

              {% unless product.available %}
                {{ 'products.product.sold_out' | t }}
              {% endunless %}
              <small>inc. GST</small>
            </p>
            <div class="reviews-container">
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </div>
            <a href="{{ product.url | within: collection }}" class="button">View Product</a>
          </div>

        {% else %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
            {% for i in (1..8) %}
              <a href="#">
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
              </a>

              <p>
                <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
              </p>

              <p>
                {{ 1999 | money }}
              </p>
            {% endfor %}
          {% else %}
            <p>{{ 'collections.general.no_matches' | t }}</p>
          {% endif %}

        {% endfor %}
      </div>

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    {% endpaginate %}
  </div>
  </div>
</div>
